{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="container">

    <div class="row">
      {% if images%}
        <h2>Found {{ images|length }} of searched term {{message}}</h2>
      {% else %}
        <h2> Found 0 articles for the search term {{message}}</h2>
      {% endif %}
  
    </div>
    <!--Looping through the images-->
    <div class="container-fluid">
      <div class="row">
          {% for image in images %}
              <div class="col-md-4">
                  <div class="card mb-2">
                      <img class="card-img-top" src="{{image.image.url}}" style="height: 300px;">
                      <div class="card-body">
                          <h5 class="card-title">{{ image.title }}</h5>
                          <p class="card-text">{{ image.description }}</p>
                          <a href="{% url 'detail' image.pk %}"
                          class="btn btn-default">
                            {{ image.title }}
                          </a>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
    </div> 
</div>
{% endblock %}